.backdrop
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(41, 1, 41);
  color: white;
}

.columns
{
  display: flex;
  justify-content: space-evenly;
  margin: 5vh;
}

.bottomPlayers
{
  font-size: 250%;
}

.fourthFifth
{
  font-size: 400%;
}

.silverBronze
{
  font-size: 500%;
}

.gold
{
  font-size: 750%;
}