.backdrop
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(41, 1, 41);
  color: white;
}

.columns
{
  display: flex;
  justify-content: space-evenly;
  margin: 3vh;
  align-items: flex-start;
}

.bottomPlayers
{
  font-size: 150%;
}

.fourthFifth
{
  font-size: 200%;
}

.silverBronze
{
  font-size: 300%;
}

.gold
{
  font-size: 500%;
}