.header, .note
{
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.standingsPopup
{
  display: flex;
  justify-content: space-around;
}

.popupMessage input
{
  text-align: center;
  font-size: 100%;
}
